<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Expiry</title>
    <style>
      
        span {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>Dear Finance Team,</p>
    <p>I hope this email finds you well.</p>
    <p>I am writing to bring to your attention an important matter regarding one of our valued employees. The contract for <b style="color:yellow">{{employee.name}}</b>, associated with <b style="color:yellow">{{employee.client_name}}</b>, is scheduled to expire on <b style="color:yellow">{{employee.end_date_of_work_order}}</b>. As per our records, the email address linked to this employee is </b>{{employee.email}}</b></p>
    <p>Thank you for your cooperation and attention to this matter.</p>
    <p>Best regards,<br></p>
  
     <img src="https://github.com/SyedSharibHasan/datapmi_recruitment/blob/main/5d68999af2f9753df5b297d1fb2f6fb4.png?raw=true" alt="DataPMI Logo" width="120px">

     <div class="signature">
        <p><strong>DataPMI Talent Track Team</strong></p>
    </div>


</body>
</html>





