
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-KpOqU7gZ1R8qROiS1z3Pxm6ofuV3LlBOsPFvG9b0L4ZLTOEzVZ4AMdTEFVzjI5zj" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/candidate.css' %}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <title>Transparent Form Validation</title>

</head>
<body>

  <br><br>  
  <div class="container-fluid fixed-top mt-4">
  <div class="d-flex justify-content-end ">
    <a href="/user" class="btn btn-primary mx-2"><i class="bi bi-house"></i></a>
    <a href="/back" class="btn btn-primary" onclick="goBack()"><i class="bi bi-arrow-90deg-left"></i></a>
  </div>
</div>
<script>
  function goBack() {
      window.history.back();
  }
</script>


  <br><br>
  <br><br>

  <div class="container">
    <div class="transparent-form">
      <form method="post" action="{% url 'create' %}" id="submission-form" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Designation -->
        <div class="form-group">
          <label for="designation">Designation:</label>
          <input type="text" id="designation" name="designation" required>
          <div class="error-message" id="designation-error"></div>
        </div>

        <!-- Client Name -->
        <div class="form-group">
          <label for="client-name">Client Name:</label>
          <input type="text" id="client-name" name="client_name">
          <div class="error-message" id="client-name-error"></div>
        </div>

        <!-- Mode Of Work -->
        <div class="form-group">
          <label for="mode-of-work">Mode Of Work:</label>
          <select id="mode-of-work" name="mode_of_work_1">
            <option value="">Select</option>
            <option value="WFH/Remote">WFH/Remote</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Work From Office">Work From Office</option>
          </select>
          <div class="error-message" id="gender-error"></div>
        </div>

        <!-- First Name -->
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first_name">
          <!-- <div class="error-message" id="first-name-error"></div> -->
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last_name">
          <div class="error-message" id="last-name-error"></div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
          <div class="error-message" id="email-error"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
  .error-input {
    border-color: #ff0000; /* Set the border color to red or any color you prefer */
    /* Add any other styling you want for an error state */
} 
</style>
        <script>
          $(document).ready(function() {
              $('#email').on('input', function() {
                  var email = $(this).val();
                  checkEmailExists(email);
              });
          });
        
          function checkEmailExists(email) {
              $.ajax({
                  url: '/check_email_exists/',
                  method: 'GET',
                  data: {'email': email},
                  success: function(response) {
                      if (response.exists) {
                          $('#email-error').text('Caution: Email already exists.');
                          $('#email').addClass('error-input'); // Optionally add a class to style the input as having an error
                      } else {
                          $('#email-error').text('');
                          $('#email').removeClass('error-input');
                      }
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });
          }
        </script>
      

        <!-- Phone -->
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="number" id="phone" name="phone">
          <div class="error-message" id="phone-error"></div>
        </div>

        <style>
          input:invalid {
            animation: shake 300ms;
            color: red;
          }
          @keyframes shake {
            0%, 100% { transform:  translate(0);}
            25% { transform:  translate(0.125rem);}
            75% { transform:  translate(-0.125rem);}
          }
        </style>

        <!-- Gender -->
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div class="error-message" id="gender-error"></div>
        </div>

        
        <label for="location">Select a Location:</label>
        <input name="location" type="text" id="locationInput" placeholder="Kochi,Kerala">
        <div id="suggestionsContainer"></div>

        <script>
          const placesInIndia = [
          "Mumbai, Maharashtra", "Delhi, Delhi", "Bangalore, Karnataka", "Hyderabad, Telangana", "Chennai, Tamil Nadu",
    "Kolkata, West Bengal", "Ahmedabad, Gujarat", "Pune, Maharashtra", "Jaipur, Rajasthan", "Lucknow, Uttar Pradesh",
    "Patna, Bihar", "Bhopal, Madhya Pradesh", "Indore, Madhya Pradesh", "Chandigarh, Chandigarh", "Surat, Gujarat",
    "Vadodara, Gujarat", "Agra, Uttar Pradesh", "Varanasi, Uttar Pradesh", "Amritsar, Punjab", "Jodhpur, Rajasthan",
    "Kochi, Kerala", "Thiruvananthapuram, Kerala", "Kozhikode, Kerala", "Muzaffarpur, Bihar",
    "Bhubaneswar, Odisha", "Guwahati, Assam", "Ranchi, Jharkhand", "Shimla, Himachal Pradesh", "Srinagar, Jammu and Kashmir",
    "Dehradun, Uttarakhand", "Raipur, Chhattisgarh", "Panaji, Goa", "Itanagar, Arunachal Pradesh", "Dispur, Assam",
    "Imphal, Manipur", "Shillong, Meghalaya", "Kohima, Nagaland", "Aizawl, Mizoram", "Agartala, Tripura",
    "Gangtok, Sikkim", "Dharamshala, Himachal Pradesh", "Puducherry, Puducherry", "Chennai, Tamil Nadu", "Thane, Maharashtra",
    "Visakhapatnam, Andhra Pradesh", "Ghaziabad, Uttar Pradesh", "Ludhiana, Punjab", "Nagpur, Maharashtra", "Vadodara, Gujarat",
    "Madurai, Tamil Nadu", "Warangal, Telangana", "Nashik, Maharashtra", "Faridabad, Haryana", "Meerut, Uttar Pradesh",
    "Rajkot, Gujarat", "Kalyan-Dombivali, Maharashtra", "Vasai-Virar, Maharashtra", "Varanasi, Uttar Pradesh", "Srinagar, Jammu and Kashmir",
    "Dhanbad, Jharkhand", "Amritsar, Punjab", "Navi Mumbai, Maharashtra", "Allahabad, Uttar Pradesh", "Ranchi, Jharkhand",
    "Haora, West Bengal", "Coimbatore, Tamil Nadu", "Jabalpur, Madhya Pradesh", "Gwalior, Madhya Pradesh", "Vijayawada, Andhra Pradesh",
    "Jodhpur, Rajasthan", "Raipur, Chhattisgarh", "Kota, Rajasthan", "Guwahati, Assam", "Chandrapur, Maharashtra", "Solapur, Maharashtra",
    "Hubli-Dharwad, Karnataka", "Bareilly, Uttar Pradesh", "Moradabad, Uttar Pradesh", "Mysore, Karnataka", "Gurgaon, Haryana",
    "Aligarh, Uttar Pradesh", "Jalandhar, Punjab", "Tiruchirappalli, Tamil Nadu", "Bhubaneswar, Odisha", "Salem, Tamil Nadu",
    "Mira-Bhayandar, Maharashtra", "Thiruvananthapuram, Kerala", "Bhiwandi, Maharashtra", "Saharanpur, Uttar Pradesh", "Gorakhpur, Uttar Pradesh",
    "Bikaner, Rajasthan", "Amravati, Maharashtra", "Noida, Uttar Pradesh", "Jamshedpur, Jharkhand", "Bhilai, Chhattisgarh", "Cuttack, Odisha",
    "Firozabad, Uttar Pradesh", "Kochi, Kerala", "Nellore, Andhra Pradesh", "Bhavnagar, Gujarat", "Durgapur, West Bengal", "Asansol, West Bengal",
    "Rourkela, Odisha", "Nanded, Maharashtra", "Kolhapur, Maharashtra", "Ajmer, Rajasthan", "Akola, Maharashtra", "Gulbarga, Karnataka",
    "Jamnagar, Gujarat", "Ujjain, Madhya Pradesh", "Loni, Maharashtra", "Siliguri, West Bengal", "Jhansi, Uttar Pradesh", "Ulhasnagar, Maharashtra",
    "Nellore, Andhra Pradesh", "Jammu, Jammu and Kashmir", "Sangli, Maharashtra", "Mirzapur, Uttar Pradesh", "Mango, Jharkhand", "Erode, Tamil Nadu",
    "Belgaum, Karnataka", "Ambattur, Tamil Nadu", "Tirunelveli, Tamil Nadu", "Malegaon, Maharashtra", "Gaya, Bihar", "Jalgaon, Maharashtra", "Udaipur, Rajasthan",
    "Maheshtala, West Bengal", "Tirupur, Tamil Nadu", "Davanagere, Karnataka", "Kozhikode, Kerala", "Akola, Maharashtra", "Kurnool, Andhra Pradesh",
    "Bokaro, Jharkhand", "Rajahmundry, Andhra Pradesh", "Ballari, Karnataka", "Agartala, Tripura", "Bhagalpur, Bihar", "Latur, Maharashtra",
    "Dhule, Maharashtra", "Korba, Chhattisgarh", "Bhilwara, Rajasthan", "Brahmapur, Odisha", "Mysore, Karnataka", "Muzaffarnagar, Uttar Pradesh",
    "Ahmednagar, Maharashtra", "Kollam, Kerala", "Raghunathganj, West Bengal", "Bilaspur, Chhattisgarh", "Shahjahanpur, Uttar Pradesh",
    "Thrissur, Kerala", "Alwar, Rajasthan", "Kakinada, Andhra Pradesh", "Nizamabad, Telangana", "Parbhani, Maharashtra", "Tumkur, Karnataka",
    "Khammam, Telangana", "Ozhukarai, Puducherry", "Bihar Sharif, Bihar", "Panipat, Haryana", "Darbhanga, Bihar", "Bally, West Bengal", "Aizawl, Mizoram",
    "Ichalkaranji, Maharashtra", "Tirupati, Andhra Pradesh", "Ratlam, Madhya Pradesh", "Rewa, Madhya Pradesh", "Latur, Maharashtra", "Hapur, Uttar Pradesh",
    "Bidhan Nagar, West Bengal", "Sambhal, Uttar Pradesh", "Barasat, West Bengal", "Kulti, West Bengal", "Ambarnath, Maharashtra", "Baranagar, West Bengal",
    "Ratlam, Madhya Pradesh", "Nangloi Jat, Delhi", "Madhyamgram, West Bengal", "North Dumdum, West Bengal"
      
      ];
    
      const locationInput = document.getElementById('locationInput');
      const suggestionsContainer = document.getElementById('suggestionsContainer');
    
      // Initialize event listener for input field
      locationInput.addEventListener('input', function() {
        const inputValue = locationInput.value.toLowerCase();
    
        // Filter places based on input value
        const filteredPlaces = placesInIndia.filter(place => place.toLowerCase().includes(inputValue));
    
        // Display filtered places
        displayAutoSuggestions(filteredPlaces);
      });
    
      function displayAutoSuggestions(suggestions) {
        // Clear previous suggestions
        clearSuggestions();


        // Create and append suggestion elements
        suggestions.forEach(suggestion => {
          const suggestionElement = document.createElement('div');
          suggestionElement.classList.add('suggestion');
          suggestionElement.textContent = suggestion;
          suggestionElement.addEventListener('click', function() {
            // Set the selected suggestion as the input value
            locationInput.value = suggestion;
            // Clear the suggestions
            clearSuggestions();
          });
    
          suggestionsContainer.appendChild(suggestionElement);
        });
      }
    
      function clearSuggestions() {
        suggestionsContainer.innerHTML = '';
      }
    
      // Close suggestions when clicking outside the input and suggestions
      document.addEventListener('click', function(event) {
        if (event.target !== locationInput && event.target.parentNode.id !== 'suggestionsContainer') {
          clearSuggestions();
        }
      });
    
         </script>
  

        <!-- College -->
        <div class="form-group">
          <label for="college">College:</label>
          <input type="text" id="college" name="college">
          <div class="error-message" id="college-error"></div>
        </div>

        <!-- Qualification -->
        <div class="form-group">
          <label for="qualification">Higher Qualification:</label>
          <input type="text" id="qualification" name="qualification">
          <div class="error-message" id="qualification-error"></div>
        </div>

        <!-- Year of Graduation -->
        <div class="form-group">
          <label for="graduation-year">Year of Graduation:</label>
          <input type="text" id="graduation-year" name="graduation_year">
          <div class="error-message" id="graduation-year-error"></div>
        </div>

        <!-- Current Company -->
        <div class="form-group">
          <label for="current-company">Current Company:</label>
          <input type="text" id="current-company" name="current_company">
          <div class="error-message" id="current-company-error"></div>
        </div>

        <!-- Reason for change current company -->
        <div class="form-group">
          <label for="remarks">Reason For Change:</label>
          <textarea id="remarks" name="remarks"></textarea>
          <div class="error-message" id="remarks-error"></div>
        </div>

        <!-- Total Years of Experience -->
        <div class="form-group">
          <label for="experience">Total Years of Experience:</label>
          <input type="number" id="experience" name="experience">
          <div class="error-message" id="experience-error"></div>
        </div>

        <!-- Relevant Experience -->
        <div class="form-group">
          <label for="relevant-experience">Relevant Years Of Experience:</label>
          <input type="number" id="relevant-experience" name="relevent_experience">
          <div class="error-message" id="relevant-experience-error"></div>
        </div>
       

        <label>Skills</label>
       
       
 <!-- HTML -->
 <input type="text" id="skillsInput" placeholder="Type skills" oninput="filterSkills()">
 <button type="button" onclick="addManuallyTypedSkill(event)">Add</button>
 <ul id="skillList" class="skill-container"></ul>
 <div id="selectedSkills" class="skill-container"></div>
<!-- JavaScript -->
<script>
    var skillsList = [ 'Java', 'Python', 'JavaScript', 'HTML', 'CSS', 'React', 'Node.js',
    'Database Management', 'SQL', 'NoSQL', 'MongoDB', 'MySQL', 'PostgreSQL',
    'Network Administration', 'Cisco', 'TCP/IP', 'DNS', 'DHCP', 'Firewalls',
    'Cybersecurity', 'Ethical Hacking', 'Penetration Testing', 'SIEM', 'Security Policies',
    'DevOps', 'Docker', 'Kubernetes', 'Jenkins', 'Git', 'CI/CD',
    'Cloud Computing', 'AWS', 'Azure', 'Google Cloud', 'Serverless',
    'Frontend Development', 'Angular', 'Vue.js', 'SASS/LESS', 'Webpack', 'Responsive Design',
    'Backend Development', 'Express.js', 'Django', 'Flask', 'Spring Boot', 'Ruby on Rails',
    'Mobile App Development', 'React Native', 'Flutter', 'iOS', 'Android', 'Swift', 'Kotlin',
    'Testing', 'JUnit', 'Selenium', 'Cypress', 'TestNG',
    'Data Science', 'Machine Learning', 'Deep Learning', 'TensorFlow', 'PyTorch',
    'Blockchain', 'Smart Contracts', 'Solidity', 'Hyperledger Fabric',
    'UI/UX Design', 'Wireframing', 'Prototyping', 'Adobe XD', 'Figma',
    'Project Management', 'Agile', 'Scrum', 'Kanban', 'Jira',
    'Linux Administration', 'Shell Scripting', 'Bash', 'Ubuntu', 'CentOS',
    'IT Support', 'Help Desk', 'Troubleshooting', 'Remote Desktop Support',
    'Technical Writing', 'Documentation', 'User Manuals', 'API Documentation', 'C++', 'C#', 'Ruby', 'PHP', 'SwiftUI', 'GraphQL',
    'Big Data', 'Hadoop', 'Spark', 'Hive', 'Pig', 'MapReduce',
    'IoT', 'Raspberry Pi', 'Arduino', 'Embedded Systems',
    'Virtualization', 'VMware', 'VirtualBox', 'Hyper-V',
    'Web Security', 'OWASP', 'Web Application Security',
    'Microsoft Office Suite', 'Excel', 'Word', 'PowerPoint',
    'Business Intelligence', 'Tableau', 'Power BI', 'QlikView',
    'Network Security', 'Intrusion Detection', 'VPN', 'Wireless Security',
    'Agile Coaching', 'Team Leadership', 'Mentorship', 'Conflict Resolution'];

   
    function filterSkills() {
        var input = document.getElementById('skillsInput');
        var filter = input.value.trim().toLowerCase();
        var skillList = document.getElementById('skillList');
        skillList.innerHTML = '';

        for (var i = 0; i < skillsList.length; i++) {
            var skill = skillsList[i].toLowerCase();
            if (skill.includes(filter)) {
                var li = document.createElement('li');
                li.textContent = skillsList[i];
                li.onclick = function () {
                    addSkill(this.textContent);
                    input.value = '';
                    skillList.innerHTML = '';
                };
                skillList.appendChild(li);
            }
        }
    }

    function addSkill(skillName) {
        var selectedSkillsContainer = document.getElementById('selectedSkills');
        var skillContainer = document.createElement('div');
        skillContainer.classList.add('skill-item');
        var skillInput = document.createElement('input');
        skillInput.type = 'text';
        skillInput.value = skillName;
        skillInput.name = 'skills';
        skillInput.readOnly = true;
        skillContainer.appendChild(skillInput);
        var closeButton = document.createElement('button');
        closeButton.textContent = '*';
        closeButton.onclick = function () {
            skillContainer.remove();
        };
        skillContainer.appendChild(closeButton);
        selectedSkillsContainer.appendChild(skillContainer);
    }

    function checkEnterKey(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent the default behavior (moving to the top)
            var input = document.getElementById('skillsInput');
            var skillName = input.value.trim();

            if (skillName !== '') {
                addSkill(skillName);
                input.value = '';
            }
        }
    }

    function addManuallyTypedSkill(event) {
        event.stopPropagation(); // Prevent the click event from reaching the form

        var input = document.getElementById('skillsInput');
        var skillName = input.value.trim();

        if (skillName !== '') {
            addSkill(skillName);
            input.value = '';
            setTimeout(function() {
                input.focus(); // Set focus back to the input field after a short delay
            }, 0);
        }
    }
</script>


        <!-- Notice Period -->
        <div class="form-group">
          <label for="notice-period">Notice Period:</label>
          <input type="text" id="notice-period" name="notice_period">
          <div class="error-message" id="notice-period-error"></div>
        </div>

        <!-- Current CTC -->
        <div class="form-group">
          <label for="current-ctc">Current CTC:</label>
          <input type="text" id="current-ctc" name="current_ctcs">
          <div class="error-message" id="current-ctc-error"></div>
        </div>

        <!-- Expected CTC -->
        <div class="form-group">
          <label for="expected-ctc">Expected CTC:</label>
          <input type="text" id="expected-ctc" name="expected_ctc">
          <div class="error-message" id="expected-ctc-error"></div>
        </div>

        <!-- Offer in hands -->
        <div class="form-group">
          <label for="offer">Offer In Hands:</label>
          <select id="offer" name="offer_in_hands">
            <option value="">Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <div class="error-message" id="offer-error"></div>
        </div>


<script>

    document.getElementById('offer').addEventListener('change', function () {
                var offerValue = this.value;
                var offerDetailsDiv = document.getElementById('offer-reject-reason');
    
                if (offerValue === 'yes') {
                  offerDetailsDiv.style.display = 'block';
                } else {
                  offerDetailsDiv.style.display = 'none';
                }
              });



              document.getElementById('offer-2').addEventListener('change', function () {
                var offerValue = this.value;
                var offerDetailsDiv = document.getElementById('offer-reject-reason-container');
    
                if (offerValue === 'no') {
                  offerDetailsDiv.style.display = 'block';
                } else {
                  offerDetailsDiv.style.display = 'none';
                }
              });
</script>

        <!-- Offer Rejection Reason -->
        <div id="offer-reject-reason" style="display: none;">
          <div class="form-group">
            <label for="offer-reject-reason-text">Details:</label>
            <textarea id="offer-reject-reason-text" name="offer_details"></textarea>
            <div class="error-message" id="offer-reject-reason-error"></div>
          </div>
        </div>


        <!-- Resume -->
        <div class="form-group">
          <label for="resume">Resume:</label>
          <input type="file" id="resume" name="resume">
          <div class="error-message" id="resume-error"></div>
        </div>

        <!-- Remarks -->
        <div class="form-group">
          <label for="remarks">Remarks:</label>
          <textarea id="remarks" name="remarks"></textarea>
          <div class="error-message" id="remarks-error"></div>
        </div>

        <!-- Recruiter -->
        <div class="form-group">
          <label for="recruiter">Recruiter:</label>
          <input type="text" id="recruiter" name="recruiter">
          <div class="error-message" id="recruiter-error"></div>
        </div>



        <!-- Time Slot -->
        <!-- <div class="form-group">
          <label for="appt">Screening Time SLOT:</label>
          <input type="time" class="time" id="appt" name="screening_time">
        </div> -->



        <!-- Select Time -->
        <div class="form-group">

          <!-- Status -->
          <label for="status">Status:</label>
          <select id="status" name="status" onchange="showHideClientDetails()">
            <option value="">Select</option>
            <option value="Client Select">client Select</option>
            <option value="Client Reject">client Reject</option>
          </select>

          <!-- additional status  -->
          <div id="client-selection" style="display: none;">
            <label for="additional-status">Client Selection & offer Details</label>
            <textarea id="client-details" name="client-details"></textarea>
          </div>
          
          <script>
            function showHideClientDetails() {
              var statusDropdown = document.getElementById("status");
              var clientSelectionDiv = document.getElementById("client-selection");
          
              if (statusDropdown.value === "Screen Select") {
                clientSelectionDiv.style.display = "block";
              } else {
                clientSelectionDiv.style.display = "none";
              }
            } 
          </script>
          

          <!-- reason for rejection for r1-r4 round -->
          <!-- <div id="reason-for-r1-r2-r3-r4-rejection" style="display: none;">
            <label for="rejection-reason-text">Reason for Rejection:</label>
            <textarea id="rejection-reason-text" name="rejection_reason_for_r1-r4"></textarea>
          </div>

        </div> -->




        
        <!-- <div id="offer-container" style="display: none;">
          <div class="form-group">
            <label for="offer-2">Offer:</label>
            <select id="offer-2" name="offer">
              <option value="">Select</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="error-message" id="offer-error"></div>
          </div>
        </div> -->

        <!-- <div id="offer-reject-reason-container" style="display: none;">
          <div class="form-group">
            <label for="offer-reject-reason-text">Reason for Rejection:</label>
            <textarea id="offer-reject-reason-text" name="offer_reject_reason"></textarea>
            <div class="error-message" id="offer-reject-reason-error"></div>
          </div>
        </div> -->

  
<br>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="{% static 'js/add_candidates.js' %}"></script>
        <br>

        <!-- Submit Button -->
        <button type="submit">Submit</button>
      </form>

    </div>
  </div>



</body>

</html>