<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <title>Document</title>
    <style>
      
    </style>

</head>

<body>
    <nav class="main-menu">
        <h1>D A T A P M I</h1>

        <ul>
            <div class="container wrapper">
                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="col-md-2">Name</th>
                            <th class="col-md-2">Email</th>
                            <th class="col-md-2">Mobile</th>
                            <th class="col-md-2">Client Name</th>
                            <th class="col-md-2">Mode of work</th>
                            <th class="col-md-2">Gender</th>
                            <th class="col-md-2">Skills</th>
                            <th class="col-md-2">Location</th>
                            <th class="col-md-2">College</th>
                            <th class="col-md-2">Qualification</th>
                            <th class="col-md-2">Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in all %}
                        <tr>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.client_name }}</td>
                            <td>{{ i.mode_of_work }}</td>
                            <td>{{ i.gender }}</td>

                            <td>
                                {% for skill in i.skills.all %}
                                {{ skill.name }}
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}</td>
                            <td>{{ i.location }}</td>
                            <td>{{ i.college }}</td>
                            <td>{{ i.qualification }}</td>
                            <td><i class="bi bi-search"></i></td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <script>
                $(document).ready(function () {
                    $('.table').DataTable({

                        "columnDefs": [
                            { "orderable": false, "targets": 5 }
                        ],
                        language: {
                            //customize pagination prev and next buttons: use arrows instead of words
                            'paginate': {
                                'previous': '<span class="fa fa-chevron-left"></span>',
                                'next': '<span class="fa fa-chevron-right"></span>'
                            },
                            //customize number of elements to be displayed
                            "lengthMenu": 'Display <select class="form-control input-sm">' +
                                '<option value="10">10</option>' +
                                '<option value="20">20</option>' +
                                '<option value="30">30</option>' +
                                '<option value="40">40</option>' +
                                '<option value="50">50</option>' +
                                '<option value="-1">All</option>' +
                                '</select> results'
                        }
                    })
                });
            </script>

</body>

</html>