<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
 

    <br>
    <br>
    <br>
    <br>
    <br>    
    <center><form action="" method="post">
        {% csrf_token %}
    <input name="old_password" type="password" placeholder="Enter old password">
    <input name="new_password"  type="password" placeholder="Enter new password">
    <input type="submit" value="Submit">

</form>

</center>

</body>
</html>