<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form method="post" action="" enctype="multipart/form-data">
        <h4 style="font-family:georgia">Edit Here</h4>
        <p>Create dp</p>
      {% csrf_token %}
      {{form.as_p}}
      <input class="btn btn-outline-primary" type="submit" value="submit">
    <br><br>
    </form>


    
</body>
</html>