<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-KpOqU7gZ1R8qROiS1z3Pxm6ofuV3LlBOsPFvG9b0L4ZLTOEzVZ4AMdTEFVzjI5zj" crossorigin="anonymous">
  <title>Profile</title>


<style>
  body {
    background-image: url('https://4kwallpapers.com/images/wallpapers/blue-background-2732x2732-10208.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


</style>

</head>
<body>
  
{% include 'sidebar.html' %}
{% include 'navbar.html' %}

<br>
<br>
<br>
<br>

{% for user_profile in profile %}
  <div class="profile-card">
    <img src="{{ user_profile.image.url }}" alt="Profile Image">
    <!-- Add other profile information here -->
  </div>
{% endfor %}


<div class="container">
  <div class="row">

    <div class="col-2">

    </div>

    <div class="col">
<img src="https://cdn-icons-png.flaticon.com/512/727/727399.png" width="200px">
    </div>


<div class="col-7">
  <br>
  <h6 style="color:  #fdfefe;">Name : {{user.first_name}} {{user.last_name}}</h6>
  <p style="color:   #fdfefe;">Email : {{user.email}}</p>
  <p style="color:  #fdfefe;">Contact : {{user.contact}}</p>
  <p style="color:  #fdfefe;">Position : Recruiter</p>

 <a href="{% url 'edit_account' user.id %}"> <button class="btn btn-success"><p>Edit profile</p></button></a>
 
 <a href="{% url 'delete_account' %}"><button class="btn btn-danger"><p>Delete Account</p></button></a>

</div>

  </div>
</div>






</body>
</html>