<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-KpOqU7gZ1R8qROiS1z3Pxm6ofuV3LlBOsPFvG9b0L4ZLTOEzVZ4AMdTEFVzjI5zj" crossorigin="anonymous">
  <title>Profile</title>


<style>
  body {
    background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1380&t=st=1703062160~exp=1703062760~hmac=dc20aa914c722be47d3d70fa32256281a6bd387fea0ba08b909d76baaa9560e7');
  }
</style>

</head>
<body>
  
{% include 'sidebar.html' %}
{% include 'navbar.html' %}

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">

    <div class="col-2">

    </div>

    <div class="col">
<img src="https://cdn-icons-png.flaticon.com/512/727/727399.png" width="200px">
    </div>


<div class="col-7">
  <br>
  <h6 style="color: bisque;">Name : {{user.first_name}} {{user.last_name}}</h6>
  <p style="color: bisque;">Email : {{user.email}}</p>
  <p style="color: bisque;">Contact : {{user.contact}}</p>
  <p style="color: bisque;">Position : Recruiter</p>

</div>

  </div>
</div>


</body>
</html>