<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Link</title>

    <style>
        /* Your CSS styles for the email body */
        span {
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <p>Dear {{user}},</p>
    <p>A Password reset for your account was requested.</p>
    <p>Please click the link below to reset your password :</p>
    <h5>{{ link }}</h5>
    <p>Please note that this link is valid for 5 minutes. After that, you will need to resubmit the request for a password reset.</p>
    <p>If you did not request this password reset, please ignore this email</p>
    <p>Best regards,<br></p>
  
     <img src="https://github.com/SyedSharibHasan/datapmi_recruitment/blob/main/5d68999af2f9753df5b297d1fb2f6fb4.png?raw=true" alt="DataPMI Logo" width="120px">

     <div class="signature">
        <p><strong>DataPMI Talent Track Team</strong></p>
    </div>
</body>
</html>

