

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <center>
<form action="{% url 'reset_password' token=token %}" method="post">
    {% csrf_token %}
    <label class="form-input">New Password
        <input name="password" type="password" required />  
      </label></div><br><br>
      <button type="submit">Submit</button>
    </form></center>
</body>
</html>