{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-LsW3s5DkVe9dzS3q22I/1oRSt3n6DZnZa7mVJrN9VUsbA9a3+Hf/Adsz5Lj5R5uOdax8C7v4Xdt72otR3L9w=="/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-KpOqU7gZ1R8qROiS1z3Pxm6ofuV3LlBOsPFvG9b0L4ZLTOEzVZ4AMdTEFVzjI5zj" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/add_candidate.css' %}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>


  <br><br>  
  <div class="container-fluid fixed-top mt-4">
  <div class="d-flex justify-content-end ">
    <a href="/user" class="btn btn-primary mx-2"><i class="bi bi-house"></i></a>
    <a href="/back" class="btn btn-primary" onclick="goBack()"><i class="bi bi-arrow-90deg-left"></i></a>
  </div>
</div>
<script>
  function goBack() {
      window.history.back();
  }
</script>


  <br><br>
  <br><br>

  <div class="container">
    <div class="transparent-form">
      <form method="post" action="{% url 'update' candidate.pk %}" id="submission-form" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Designation -->
        <div class="form-group">
          <label for="designation">Designation:</label>
          <input value="{{candidate.designation}}" type="text" id="designation" name="designation" required>
          <div class="error-message" id="designation-error"></div>
        </div>

        <!-- Client Name -->
        <div class="form-group">
          <label for="client_name">Client Name:</label>
          <input value="{{candidate.client_name}}" type="text" id="client_name" name="client_name" required>
          <div class="error-message" id="client-error"></div>
      
          <!-- Suggestions container -->
          <div class="suggestions" id="suggestions-container">
              <ul id="suggestions-list"></ul>
          </div>
      </div>
        

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script>
          // List of companies
          var companies = ['Raksul', 'Kyndrel', 'Deloitte', 'Mathco'];
      
          // Function to show suggestions
          function showSuggestions(inputValue) {
              var matchingCompanies = companies.filter(function (company) {
                  return company.toLowerCase().includes(inputValue.toLowerCase());
              });
      
              var suggestionsList = $('#suggestions-list');
              suggestionsList.empty();
      
              matchingCompanies.forEach(function (company) {
                  var listItem = $('<li>').text(company);
                  suggestionsList.append(listItem);
              });
      
              // Show suggestions container
              $('.suggestions').show();
          }
      
          // Handle input changes
          $('#client_name').on('input', function () {
              var inputValue = $(this).val();
      
              // Hide suggestions if input is empty
              if (inputValue.trim() === '') {
                  $('.suggestions').hide();
                  return;
              }
      
              // Show suggestions based on input
              showSuggestions(inputValue);
          });
      
          // Handle suggestion click
          $('#suggestions-list').on('click', 'li', function () {
              // Set selected suggestion as the input value
              $('#client_name').val($(this).text());
      
              // Hide suggestions
              $('.suggestions').hide();
          });
      
          // Hide suggestions when clicking outside the input and suggestions container
          $(document).on('click', function (event) {
              if (!$(event.target).closest('.form-group').length) {
                  $('.suggestions').hide();
              }
          });
      </script>
        

        <!-- Mode Of Work -->
        <div class="form-group">
          <label for="mode-of-work">Mode Of Work:</label>
          <select id="mode-of-work" name="mode_of_works">
            <option value="">Select</option>
            <option value="WFH/Remote" {% if candidate.mode_of_work == 'WFH/Remote' %}selected{% endif %}>WFH/Remote</option>
            <option value="Hybrid" {% if candidate.mode_of_work == 'Hybrid' %}selected{% endif %}>Hybrid</option>
            <option value="Work From Office" {% if candidate.mode_of_work == 'Work From Office' %}selected{% endif %}>Work From Office</option>
        </select>
        
        
          <div class="error-message" id="gender-error"></div>
        </div>

        <!-- First Name -->
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input value="{{candidate.first_name}}" type="text" id="first-name" name="first_name">
          <!-- <div class="error-message" id="first-name-error"></div> -->
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input value="{{candidate.last_name}}" type="text" id="last-name" name="last_name">
          <div class="error-message" id="last-name-error"></div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input value="{{candidate.email}}" type="email" id="email" name="email">
          <div class="error-message" id="email-error"></div>
        </div>

        <!-- Phone -->
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input value="{{candidate.phone}}" type="number" id="phone" name="phone">
          <div class="error-message" id="phone-error"></div>
        </div>
        <style>
          input:invalid {
            animation: shake 300ms;
            color: red;
          }
          @keyframes shake {
            0%, 100% { transform:  translate(0);}
            25% { transform:  translate(0.125rem);}
            75% { transform:  translate(-0.125rem);}
          }
        </style>

        <!-- Gender -->
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender">
            <option value="">Select</option>
            <option value="Male" {% if candidate.gender == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if candidate.gender == 'Female' %}selected{% endif %}>Female</option>
        </select>
        
          <div class="error-message" id="gender-error"></div>
        </div>

        
        <div class="form-group">
          <div class="select_option">
            <label for="gender">Location:</label>
              <select class="form-select state" aria-label="Default select example" onchange="loadCities()">
                  <option selected>Select State</option>
              </select>
              <select class="form-select city" aria-label="Default select example">
                  <option selected>Select City</option>
              </select>
              <input value="{{candidate.location}}" name="location" placeholder="Kochi,Kerala"  class="form-control autocomplete-input result" readonly>
          </div>
      </div>
      
      
      <script>
          var config = {
    cUrl: 'https://api.countrystatecity.in/v1/countries',
    ckey: 'NHhvOEcyWk50N2Vna3VFTE00bFp3MjFKR0ZEOUhkZlg4RTk1MlJlaA=='
  }

  var stateSelect = document.querySelector('.state'),
    citySelect = document.querySelector('.city'),
    resultInput = document.querySelector('.result');

  function loadStates() {
    stateSelect.disabled = false;
    citySelect.disabled = true;
    stateSelect.style.pointerEvents = 'auto';
    citySelect.style.pointerEvents = 'none';

    const selectedCountryCode = 'IN'; // ISO2 code for India
    stateSelect.innerHTML = '<option value="">Select State</option>'; // for clearing the existing states
    citySelect.innerHTML = '<option value="">Select City</option>'; // Clear existing city options

    fetch(`${config.cUrl}/${selectedCountryCode}/states`, { headers: { "X-CSCAPI-KEY": config.ckey } })
      .then(response => response.json())
      .then(data => {
        // Sort states alphabetically by name
        data.sort((a, b) => a.name.localeCompare(b.name));

        data.forEach(state => {
          const option = document.createElement('option');
          option.value = state.iso2;
          option.textContent = state.name;
          stateSelect.appendChild(option);
        });
      })
      .catch(error => console.error('Error loading states:', error));
  }

  function loadCities() {
    citySelect.disabled = false;
    citySelect.style.pointerEvents = 'auto';

    const selectedCountryCode = 'IN'; // ISO2 code for India
    const selectedStateCode = stateSelect.value;

    citySelect.innerHTML = '<option value="">Select City</option>'; // Clear existing city options

    fetch(`${config.cUrl}/${selectedCountryCode}/states/${selectedStateCode}/cities`, { headers: { "X-CSCAPI-KEY": config.ckey } })
      .then(response => response.json())
      .then(data => {
        data.forEach(city => {
          const option = document.createElement('option');
          option.value = city.iso2;
          option.textContent = city.name;
          citySelect.appendChild(option);
        });
      });

    // Set the value of the result input
    updateResultInput();
  }

  function updateResultInput() {
    const selectedStateText = stateSelect.options[stateSelect.selectedIndex].text;
    const selectedCityText = citySelect.options[citySelect.selectedIndex].text;

    // Exclude "Select City" from the input
    if (selectedCityText !== 'Select City') {
      resultInput.value = `${selectedCityText}, ${selectedStateText}`;
    } else {
      resultInput.value = selectedStateText;
    }
  }

  window.onload = function () {
    loadStates();
    // Add onchange event handler to the city dropdown
    citySelect.onchange = updateResultInput;
  };
      </script>


        <!-- College -->
        <div class="form-group">
          <label for="college">College:</label>
          <input value="{{candidate.college}}" type="text" id="college" name="college">
          <div class="error-message" id="college-error"></div>
        </div>

        <!-- Qualification -->
        <div class="form-group">
          <label for="qualification">Higher Qualification:</label>
          <input value="{{candidate.qualification}}" type="text" id="qualification" name="qualification">
          <div class="error-message" id="qualification-error"></div>
        </div>

        <!-- Year of Graduation -->
        <div class="form-group">
          <label for="graduation-year">Year of Graduation:</label>
          <input value="{{candidate.graduation_year}}" type="text" id="graduation-year" name="graduation_year">
          <div class="error-message" id="graduation-year-error"></div>
        </div>

        <!-- Current Company -->
        <div class="form-group">
          <label for="current-company">Current Company:</label>
          <input value="{{candidate.current_company}}" type="text" id="current-company" name="current_company">
          <div class="error-message" id="current-company-error"></div>
        </div>

        <!-- Reason for change current company -->
        <div class="form-group">
          <label for="remarks">Reason For Change:</label>
          <textarea id="remarks" name="remarks">{{ candidate.remarks }}</textarea>
          <div class="error-message" id="remarks-error"></div>
          

        <!-- Total Years of Experience -->
        <div class="form-group">
          <label for="experience">Total Years of Experience:</label>
          <input value="{{candidate.experience}}" type="number" id="experience" name="experience">
          <div class="error-message" id="experience-error"></div>
        </div>

        <!-- Relevant Experience -->
        <div class="form-group">
          <label for="relevant-experience">Relevant Years Of Experience:</label>
          <input value="{{candidate.relevent_experience}}" type="number" id="relevant-experience" name="relevent_experience">
          <div class="error-message" id="relevant-experience-error"></div>
        </div>
 

        <label for="skillsInput">Skills</label>
        <input type="text" id="skillsInput" placeholder="Type skills" oninput="filterSkills()">
        <button type="button" id="addButton">Add</button>
        <ul id="skillList" class="skill-container"></ul>
        <div id="selectedSkills" class="skill-container">
          {% for skill in candidate.skills.all %}
          <div class="skill-item">
              <input type="text" value="{{ skill.name }}" name="skills" readonly>
              <button type="button" onclick="removeSkill(this)"><i class="fas fa-times"></i></button>
          </div>
          {% endfor %}
      </div>
      
      <script>
        var input; // Declare input in the global scope
        var selectedSkillsContainer;
      
        function fetchSkillsFromAPI() {
    fetch('/get_skills_api/')
      .then(response => response.json())
      .then(data => {
        initializeSkills(data.skills);
      })
      .catch(error => console.error('Error loading skills from API:', error));
  }

  // Call the function to fetch skills from the API
  fetchSkillsFromAPI();
      
        function initializeSkills(skills) {
            input = document.getElementById('skillsInput'); // Assign input in the global scope
            var skillList = document.getElementById('skillList');
            selectedSkillsContainer = document.getElementById('selectedSkills');
      
            input.addEventListener('input', filterSkills);
      
            function filterSkills() {
                var filter = input.value.trim().toLowerCase();
                skillList.innerHTML = '';
      
                for (var i = 0; i < skills.length; i++) {
                    var skill = skills[i].toLowerCase();
                    if (skill.includes(filter)) {
                        var li = document.createElement('li');
                        li.textContent = skills[i];
                        li.onclick = function () {
                            addSkill(this.textContent);
                            input.value = '';
                            skillList.innerHTML = '';
                        };
                        skillList.appendChild(li);
                    }
                }
            }
      
            function addSkill(skillName) {
                var skillContainer = document.createElement('div');
                skillContainer.classList.add('skill-item');
                var skillInput = document.createElement('input');
                skillInput.type = 'text';
                skillInput.value = skillName;
                skillInput.name = 'skills';
                skillInput.readOnly = true;
                skillContainer.appendChild(skillInput);
                var closeButton = document.createElement('button');
                closeButton.innerHTML = '<i class="fas fa-times"></i>';
      
                closeButton.onclick = function () {
                    skillContainer.remove();
                };
                skillContainer.appendChild(closeButton);
                selectedSkillsContainer.appendChild(skillContainer);
            }
      
            function addManuallyTypedSkill() {
                var skillName = input.value.trim();
      
                if (skillName !== '') {
                    addSkill(skillName);
                    input.value = '';
                    input.focus();
                }
            }
      
            document.getElementById('addButton').addEventListener('click', addManuallyTypedSkill);
      
            document.getElementById('skillsInput').addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var skillName = input.value.trim();
      
                    if (skillName !== '') {
                        addSkill(skillName);
                        input.value = '';
                    }
                }
            });
      
            document.getElementById('selectedSkills').addEventListener('click', function (event) {
                if (event.target.tagName === 'BUTTON') {
                    event.target.parentElement.remove();
                }
            });
        }
      </script>
      
        <!-- Resume -->
       <!-- Display current resume and provide an option to change it -->
<div class="form-group">
  <label for="resume">Current Resume:</label>
  {% if candidate.resume %}
      <a href="{{ candidate.resume.url }}" target="_blank">View Resume</a>
  {% else %}
      No resume uploaded.
  {% endif %}
</div>

<div class="form-group">
  <label for="new_resume">New Resume:</label>
  <input type="file" id="new_resume" name="new_resume">
  <div class="error-message" id="resume-error"></div>
</div>

<!-- Option to keep the current resume unchanged -->
<!-- <div class="form-group">
  <label for="keep_resume">Keep Current Resume:</label>
  <input type="checkbox" id="keep_resume" name="keep_resume" {% if not candidate.resume %}checked{% endif %}>
</div> -->


        <!-- Remarks -->
        <div class="form-group">
          <label for="remarks">Remarks:</label>
          <textarea id="remarks" name="remarks">{{candidate.expected_ctc}}</textarea>
          <div class="error-message" id="remarks-error"></div>
        </div>


        <!-- Select Time -->
        <div class="form-group">

          <!-- Status -->
          <label for="status">Status:</label>
          <select id="status" name="status" onchange="showHideClientDetails()">
            <option value="" {% if not candidate.status %}selected{% endif %}>Select</option>
            <option value="Interview Ongoing" {% if candidate.status == 'Interview Ongoing' %}selected{% endif %}>Interview Ongoing</option>
            <option value="Client Select" {% if candidate.status == 'Client Select' %}selected{% endif %}>Client Select</option>
            <option value="Client Reject" {% if candidate.status == 'Client Reject' %}selected{% endif %}>Client Reject</option>
            <option value="Store Data" {% if candidate.status == 'Store Data' %}selected{% endif %}>Store Data</option>
          </select>
          
          <div id="client-selection" style="display: none;">
            <label for="additional-status">Client Selection & offer Details:</label>
            <textarea id="client-details" name="client-details">{{candidate.additional_status}}</textarea>
          </div>
          
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              showHideClientDetails();  // Call the function on page load
          
              var statusDropdown = document.getElementById("status");
              statusDropdown.addEventListener("change", showHideClientDetails);  // Call the function on dropdown change
            });
          
            function showHideClientDetails() {
              var statusDropdown = document.getElementById("status");
              var clientSelectionDiv = document.getElementById("client-selection");
          
              // Check if the selected option is "Screen Select"
              if (statusDropdown.value === "Screen Select") {
                clientSelectionDiv.style.display = "block";
              } else {
                clientSelectionDiv.style.display = "none";
              }
            }
          </script>
          


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="{% static 'js/add_candidates.js' %}"></script>
        <br>
<br>
        <!-- Submit Button -->
        <button type="submit">Submit</button>
      </form>

    </div>
  </div>


</body>
</html>

