{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Human resource</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- <script src="main.js" defer></script> -->
  <!-- <script src="{% static 'js/main.js' %}" defer></script> -->

  <style>
    .user-info {
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px;

    }

    .dark-mode {
      background-color: black;
      color: white;
      transition: background-color 0.5s ease, color 0.5s ease;
    }

    .dark-mode .nav-link {
      color: white;
    }
  </style>
</head>

<body>
  <!-- <script src="{% static 'js/main.js' %}" defer></script> -->

  



   <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="https://media.licdn.com/dms/image/C4D0BAQFu_R1oMevPkg/company-logo_200_200/0/1605071690914?e=2147483647&v=beta&t=j78rG7jAcupvGwxXD8DZJxhF4IElEeqPhxNgbMoXBZs" alt="logo_img">
                </span>

                <div class="text logo-text">
                    <span class="name">{{user}}</span>
                    <span class="profession">{{user.email}}</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/list">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">My candidates</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/all">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">All candidates</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                  <a href="{% url 'signout' %}"> 
                        <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">DataPMI</div>

<center><nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav></center>

        <marquee>
          <p style="color:green">This page is only displayed for HR recruiters</p>
        </marquee>
<br>   <br>   
<!-- <center><a href="/create"><button class="btn btn-primary">Create New &nbsp;<i
  class="bi bi-plus-square"></i></button></a></center>
  <br>
    <center>
      <table>
  
        {% for i in candidate %}
  
        <p style="color: blue;">Name: {{i.first_name}}  {{i.last_name}}</p>
        <a href="{% url 'detail' i.id %}"><button title="View" class="btn btn-outline-success"><i
              class="bi bi-search"></i></button></a>&nbsp;
        <a href="{% url 'update' i.id %}"><button title="Edit" class="btn btn-outline-info"><i
              class="bi bi-pencil"></i></button></a>&nbsp;
        <a href="{% url 'delete' i.id %}"><button title="Delete" class="btn btn-outline-danger"><i
              class="bi bi-trash3"></i></button></a>
  
        <hr>
        {% endfor %}
      </table>
    </center> -->
    </section>



    <script>
      // Select the required elements
const body = document.querySelector('body');
const sidebar = body.querySelector('nav');
const toggle = body.querySelector('.toggle');
const searchBtn = body.querySelector('.search-box');
const modeSwitch = body.querySelector('.toggle-switch');
const modeText = body.querySelector('.mode-text');

// Function to toggle dark mode
function toggleDarkMode() {
    body.classList.toggle('dark');
    var isDarkMode = body.classList.contains('dark');
    // Save the dark mode preference in localStorage
    localStorage.setItem('darkMode', isDarkMode);
    updateModeText(isDarkMode);
}

// Function to update mode text based on dark mode state
function updateModeText(isDarkMode) {
    modeText.innerText = isDarkMode ? 'Light mode' : 'Dark mode';
}

// Event listeners for toggling dark mode and sidebar
toggle.addEventListener('click', () => {
    sidebar.classList.toggle('close');
});

searchBtn.addEventListener('click', () => {
    sidebar.classList.remove('close');
});

modeSwitch.addEventListener('click', () => {
    toggleDarkMode();
});

// Apply dark mode preference from localStorage on page load
document.addEventListener('DOMContentLoaded', () => {
    var isDarkMode = localStorage.getItem('darkMode') === 'true';
    body.classList.toggle('dark', isDarkMode);
    updateModeText(isDarkMode);
});

    </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  

  
</body>

</html>